In [ ]:
data["Applicant_Marital_Status"] = data["Applicant_Marital_Status"].apply(lambda x: "Other" if x in ["W","D"] else x)

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import seaborn as sns
%matplotlib inline
from sklearn import preprocessing

In [2]:
train = pd.read_csv("Train_pjb2QcD.csv")
test = pd.read_csv("Test_wyCirpO.csv")

In [3]:
train.describe(include=[np.number]).transpose()

,count,mean,std,min,25%,50%,75%,max
Office_PIN,9527.0,452894.372205,235690.618252,110005.0,226001.0,416001.0,695014.00,851101.0
Applicant_City_PIN,9430.0,456784.547296,239291.081207,110001.0,226020.0,422005.5,695017.00,995657.0
Manager_Grade,8844.0,3.264134,1.137449,1.0,2.0,3.0,4.00,10.0
Manager_Num_Application,8844.0,1.939733,2.150529,0.0,0.0,1.0,3.00,22.0
Manager_Num_Coded,8844.0,0.758933,1.188644,0.0,0.0,0.0,1.00,9.0
Manager_Business,8844.0,184370.973428,274716.323095,-265289.0,0.0,102178.0,247116.50,3578265.0
Manager_Num_Products,8844.0,7.152307,8.439351,0.0,0.0,5.0,11.00,101.0
Manager_Business2,8844.0,182926.343962,271802.145895,-265289.0,0.0,101714.0,246461.25,3578265.0
Manager_Num_Products2,8844.0,7.131275,8.423597,0.0,0.0,5.0,11.00,101.0
Business_Sourced,9527.0,0.342920,0.474710,0.0,0.0,0.0,1.00,1.0

In [4]:
train.describe(include=['O']).transpose()

                            count unique           top  freq
ID                           9527   9527    FIN1001996     1
Application_Receipt_Date     9527    357      5/9/2007   165
Applicant_Gender             9460      2             M  7179
Applicant_BirthDate          9454   5836      1/3/1978    24
Applicant_Marital_Status     9454      4             M  6177
Applicant_Occupation         8306      5      Salaried  3787
Applicant_Qualification      9441     11     Class XII  5806
Manager_DOJ                  8844    646      7/9/2007   106
Manager_Joining_Designation  8844      8       Level 1  4632
Manager_Current_Designation  8844      5       Level 2  3208
Manager_Status               8844      2  Confirmation  5277
Manager_Gender               8844      2             M  7627
Manager_DoB                  8844   1245     2/11/1961    45

In [ ]:
for cols in train._get_numeric_data():
     
    ax =train[cols].plot(kind='box')
    fig = ax.get_figure()
    fig.savefig(cols+'.png')
    fig.clf()

In [5]:
train.corr()
 
corrDf = train.corr()
for row in corrDf.iterrows():
    for col in corrDf.columns:
        if row[0]!=col:
            if row[1][col] >0.5:
                print(row[0],",",col,",",row[1][col])

Office_PIN , Applicant_City_PIN , 0.97775593982
Applicant_City_PIN , Office_PIN , 0.97775593982
Manager_Num_Application , Manager_Num_Coded , 0.514298735505
Manager_Num_Coded , Manager_Num_Application , 0.514298735505
Manager_Business , Manager_Num_Products , 0.733879951276
Manager_Business , Manager_Business2 , 0.994421574576
Manager_Business , Manager_Num_Products2 , 0.729147285898
Manager_Num_Products , Manager_Business , 0.733879951276
Manager_Num_Products , Manager_Business2 , 0.736272187883
Manager_Num_Products , Manager_Num_Products2 , 0.998892943611
Manager_Business2 , Manager_Business , 0.994421574576
Manager_Business2 , Manager_Num_Products , 0.736272187883
Manager_Business2 , Manager_Num_Products2 , 0.73559388886
Manager_Num_Products2 , Manager_Business , 0.729147285898
Manager_Num_Products2 , Manager_Num_Products , 0.998892943611
Manager_Num_Products2 , Manager_Business2 , 0.73559388886

In [7]:
corrDf

,Office_PIN,Applicant_City_PIN,Manager_Grade,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
Office_PIN,1.000000,0.977756,-0.077063,0.061672,0.066030,0.093603,0.132186,0.093386,0.131747,0.027682
Applicant_City_PIN,0.977756,1.000000,-0.091697,0.055152,0.060603,0.089794,0.131358,0.089425,0.130928,0.028036
Manager_Grade,-0.077063,-0.091697,1.000000,-0.022524,-0.002833,0.322211,0.210353,0.320644,0.209886,0.059363
Manager_Num_Application,0.061672,0.055152,-0.022524,1.000000,0.514299,0.014605,-0.030293,0.015871,-0.029977,-0.037593
Manager_Num_Coded,0.066030,0.060603,-0.002833,0.514299,1.000000,0.152858,0.129490,0.155289,0.130039,0.013565
Manager_Business,0.093603,0.089794,0.322211,0.014605,0.152858,1.000000,0.733880,0.994422,0.729147,0.031578
Manager_Num_Products,0.132186,0.131358,0.210353,-0.030293,0.129490,0.733880,1.000000,0.736272,0.998893,-0.011000
Manager_Business2,0.093386,0.089425,0.320644,0.015871,0.155289,0.994422,0.736272,1.000000,0.735594,0.031093
Manager_Num_Products2,0.131747,0.130928,0.209886,-0.029977,0.130039,0.729147,0.998893,0.735594,1.000000,-0.011706
Business_Sourced,0.027682,0.028036,0.059363,-0.037593,0.013565,0.031578,-0.011000,0.031093,-0.011706,1.000000

In [15]:
train['isTrainDataSet'] = 1
test['isTrainDataSet'] = 0
dataset = train.append(test)

In [18]:
trset=dataset[dataset['isTrainDataSet'] == 1]
gp= trset[['ID','Application_Receipt_Date','Business_Sourced']].groupby(trset.Application_Receipt_Date)

In [19]:
#counting the number of applicants for each date on traindata
ct=gp['ID'].count()

In [20]:
#counting the number of Business_Sourced entries for each date on traindata
srcCnt=gp['Business_Sourced'].sum()

In [23]:
ratio=srcCnt/ct
avg=sum(ratio)/len(ratio)

In [24]:
avg

0.34701933974315458

In [29]:
lst=[]
for date in trset['Application_Receipt_Date'].unique():
    c=ct[date]
    v=int(math.ceil(c*0.45))
    for i in range(v):
        lst.append(1)
    for i in range(c-v):
        lst.append(0)
    print(date)
trset['wow']=lst

4/16/2007
4/17/2007
4/18/2007
4/19/2007
4/20/2007
4/21/2007
4/23/2007
4/24/2007
4/25/2007
4/26/2007
4/27/2007
4/28/2007
4/30/2007
5/1/2007
5/2/2007
5/4/2007
5/5/2007
5/7/2007
5/8/2007
5/9/2007
5/10/2007
5/11/2007
5/12/2007
5/14/2007
5/15/2007
5/16/2007
5/17/2007
5/18/2007
5/19/2007
5/21/2007
5/22/2007
5/23/2007
5/24/2007
5/25/2007
5/26/2007
5/28/2007
5/29/2007
5/30/2007
5/31/2007
6/1/2007
6/2/2007
6/4/2007
6/5/2007
6/6/2007
6/7/2007
6/8/2007
6/9/2007
6/11/2007
6/12/2007
6/13/2007
6/14/2007
6/15/2007
6/16/2007
6/18/2007
6/19/2007
6/20/2007
6/21/2007
6/22/2007
6/23/2007
6/25/2007
6/26/2007
6/27/2007
6/28/2007
6/29/2007
6/30/2007
7/2/2007
7/3/2007
7/4/2007
7/5/2007
7/6/2007
7/7/2007
7/9/2007
7/10/2007
7/11/2007
7/12/2007
7/13/2007
7/14/2007
7/16/2007
7/17/2007
7/18/2007
7/19/2007
7/20/2007
7/21/2007
7/23/2007
7/24/2007
7/25/2007
7/26/2007
7/27/2007
7/28/2007
7/30/2007
7/31/2007
8/1/2007
8/2/2007
8/3/2007
8/4/2007
8/6/2007
8/7/2007
8/8/2007
8/9/2007
8/10/2007
8/11/2007
8/13/2007
8/14/2007
8/15/2007
8/16/2007
8/18/2007
8/20/2007
8/21/2007
8/22/2007
8/23/2007
8/24/2007
8/25/2007
8/27/2007
8/28/2007
8/29/2007
8/30/2007
8/31/2007
9/1/2007
9/2/2007
9/3/2007
9/4/2007
9/5/2007
9/6/2007
9/7/2007
9/8/2007
9/10/2007
9/11/2007
9/12/2007
9/13/2007
9/14/2007
9/15/2007
9/17/2007
9/18/2007
9/19/2007
9/20/2007
9/21/2007
9/22/2007
9/24/2007
9/25/2007
9/26/2007
9/27/2007
9/28/2007
9/29/2007
9/30/2007
10/1/2007
10/2/2007
10/3/2007
10/6/2007
10/8/2007
10/9/2007
10/10/2007
10/11/2007
10/12/2007
10/13/2007
10/15/2007
10/16/2007
10/17/2007
10/18/2007
10/19/2007
10/20/2007
10/22/2007
10/23/2007
10/24/2007
10/25/2007
10/26/2007
10/27/2007
10/29/2007
10/30/2007
10/31/2007
11/1/2007
11/2/2007
11/3/2007
11/5/2007
11/6/2007
11/7/2007
11/8/2007
11/9/2007
11/10/2007
11/12/2007
11/13/2007
11/14/2007
11/15/2007
11/16/2007
11/17/2007
11/19/2007
11/20/2007
11/21/2007
11/22/2007
11/23/2007
11/24/2007
11/26/2007
11/27/2007
11/28/2007
11/29/2007
11/30/2007
12/1/2007
12/2/2007
12/3/2007
12/4/2007
12/5/2007
12/6/2007
12/7/2007
12/8/2007
12/10/2007
12/11/2007
12/12/2007
12/13/2007
12/14/2007
12/15/2007
12/17/2007
12/18/2007
12/19/2007
12/20/2007
12/21/2007
12/22/2007
12/24/2007
12/25/2007
12/26/2007
12/28/2007
12/29/2007
12/31/2007
1/1/2008
1/2/2008
1/4/2008
1/5/2008
1/7/2008
1/8/2008
1/9/2008
1/10/2008
1/11/2008
1/12/2008
1/14/2008
1/15/2008
1/16/2008
1/17/2008
1/18/2008
1/19/2008
1/21/2008
1/22/2008
1/23/2008
1/24/2008
1/25/2008
1/26/2008
1/29/2008
1/30/2008
1/31/2008
2/1/2008
2/2/2008
2/4/2008
2/5/2008
2/6/2008
2/7/2008
2/8/2008
2/9/2008
2/11/2008
2/12/2008
2/13/2008
2/14/2008
2/15/2008
2/16/2008
2/18/2008
2/19/2008
2/20/2008
2/21/2008
2/22/2008
2/23/2008
2/25/2008
2/26/2008
2/27/2008
2/28/2008
2/29/2008
3/1/2008
3/3/2008
3/4/2008
3/5/2008
3/6/2008
3/7/2008
3/8/2008
3/10/2008
3/11/2008
3/12/2008
3/13/2008
3/14/2008
3/15/2008
3/17/2008
3/18/2008
3/19/2008
3/20/2008
3/21/2008
3/22/2008
3/24/2008
3/25/2008
3/26/2008
3/28/2008
3/31/2008
4/14/2008
4/15/2008
4/16/2008
4/17/2008
4/18/2008
4/21/2008
4/22/2008
4/23/2008
4/24/2008
4/25/2008
4/26/2008
4/28/2008
4/29/2008
4/30/2008
5/1/2008
5/5/2008
5/6/2008
5/7/2008
5/8/2008
5/9/2008
5/12/2008
5/13/2008
5/14/2008
5/15/2008
5/16/2008
5/19/2008
5/20/2008
5/21/2008
5/22/2008
5/23/2008
5/26/2008
5/27/2008
5/28/2008
5/29/2008
5/30/2008
5/31/2008
6/1/2008
6/2/2008
6/3/2008
6/4/2008
6/5/2008
6/6/2008
6/9/2008
6/10/2008
6/11/2008
6/12/2008
6/13/2008
6/14/2008
6/16/2008
6/17/2008
6/18/2008
6/19/2008
6/20/2008
6/21/2008
6/23/2008
6/24/2008
6/25/2008
6/26/2008
6/27/2008
6/28/2008
6/30/2008
7/1/2008

/home/popoago/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
math.ceil(c*0.45)

9

In [38]:
train.loc[train["Application_Receipt_Date"]=="5/1/2008",]

,ID,Office_PIN,Application_Receipt_Date,Applicant_City_PIN,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,...,Manager_Gender,Manager_DoB,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced,isTrainDataSet
7963,FIN1007964,452003,5/1/2008,452001.0,M,5/18/1963,M,NaN,Graduate,8/14/2007,...,M,9/1/1975,0.0,2.0,105058.0,4.0,105058.0,4.0,1,1
7964,FIN1007965,751009,5/1/2008,752023.0,M,6/4/1969,M,Salaried,Graduate,8/14/2007,...,M,8/16/1972,2.0,1.0,32963.0,2.0,32963.0,2.0,0,1
7965,FIN1007966,842001,5/1/2008,843106.0,M,12/7/1963,M,NaN,Graduate,8/31/2006,...,M,2/4/1960,1.0,1.0,640246.0,28.0,640246.0,28.0,0,1
7966,FIN1007967,121002,5/1/2008,121102.0,M,2/14/1972,M,Business,Class XII,6/10/2002,...,M,10/8/1974,1.0,1.0,580720.0,18.0,580720.0,18.0,0,1
7967,FIN1007968,444601,5/1/2008,444601.0,F,7/22/1969,M,Salaried,Graduate,11/11/2002,...,F,7/17/1963,1.0,0.0,851693.0,27.0,551920.0,20.0,0,1
7968,FIN1007969,713216,5/1/2008,713347.0,M,11/11/1967,M,Business,Graduate,2/14/2005,...,M,6/29/1967,2.0,0.0,198056.0,9.0,198056.0,9.0,1,1
7969,FIN1007970,843302,5/1/2008,843301.0,M,6/26/1945,M,NaN,Graduate,8/11/2003,...,M,3/20/1963,1.0,0.0,327007.0,23.0,327007.0,23.0,1,1
7970,FIN1007971,751009,5/1/2008,753001.0,M,5/2/1932,M,Business,Graduate,11/22/2007,...,M,12/8/1978,1.0,2.0,423000.0,3.0,423000.0,3.0,0,1
7971,FIN1007972,221010,5/1/2008,221011.0,F,2/17/1988,M,Others,Class XII,4/10/2008,...,M,6/20/1973,0.0,0.0,0.0,0.0,0.0,0.0,0,1
7972,FIN1007973,400705,5/1/2008,400701.0,F,5/3/1976,M,NaN,Graduate,9/5/2007,...,M,1/7/1975,2.0,1.0,221443.0,9.0,221443.0,9.0,0,1
7973,FIN1007974,802101,5/1/2008,802213.0,M,4/5/1978,M,Salaried,Graduate,7/1/2006,...,M,1/4/1982,1.0,1.0,502378.0,24.0,502378.0,24.0,0,1